.criminalContent {
    border: 1px solid black;
    margin: 1rem;
    padding: 0.5rem;
    flex-basis: 25%;
    
}
.criminalsContainer, .criminalsList {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
}



hr {
    padding:5px;
}